/*
Creator: Taylor Moore
Date created: 12.13.2018
Date last modified: 12.19.2018
*/

body {
  background-color: #a61108;
  color: #ffb400;
  max-width: 1000px;
  margin: 0 auto;
  font-family: arial, helvetica, sans-serif;
  font-size: 1em;
}

header, footer {
  background-color: #a61108;
  color: #fcf6b1;
  height: 100px;
  text-align: center;
  padding:10px 10px 20px 10px;
}

section {
  padding: 10px;
  background-color: #0c090d;
}

article {
  padding: 15px;
}

@font-face{
        font-family:"Mexcellent W05 Regular";
        src:url("../Fonts/5339979/d780746a-4df7-4029-a558-448a2931a030.eot?#iefix");
        src:url("../Fonts/5339979/d780746a-4df7-4029-a558-448a2931a030.eot?#iefix") format("eot"),url("../Fonts/5339979/391f0cf4-5eca-4d30-a43f-79ee292f5f5d.woff2") format("woff2"),url("../Fonts/5339979/e5ea5483-fa23-4de7-a43f-ff9319b9fbbf.woff") format("woff"),url("../Fonts/5339979/73a052ce-2e5d-46d3-bd84-719dc996e028.ttf") format("truetype");
    }

header {
  font-family: "Mexcellent W05 Regular";
  font-size: 2.7em;
  padding-bottom: 100px;
}

nav {
  background-color: #a9e5bb;
  padding: 10px;
  font-family: "Mexcellent W05 Regular";
}

nav a {
  color: #a61108;
  padding: 5px 15px;
}

nav a:hover {
  font-weight: bold;
}

nav a:active {
  text-decoration: none;
  font-weight: normal;
}

nav a:visited {
  color: #0c090d;
}
